* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #69b3eb, #c510fc);
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.wrapper {
    background: #fff;
    border-radius: 15px;
    box-shadow: 10px 30px 10px 5px rgba(0, 0, 0, 0.5);
    margin: 100px auto;
    max-width: 400px;
    padding: 30px 0;
    padding-top: 10px;
}

.heading {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.task-input {
    height: 50px;
    padding: 0 25px;
    position: relative;
}

.task-input svg {
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%);
}

.task-input input {
    border: 1px solid #999;
    border-radius: 25px;
    font-size: 18px;
    height: 100%;
    outline: none;
    padding: 0 20px 0 53px;
    width: 100%;
}

.task-input input:focus, .task-input input.active {
    border: 2px solid #3c87ff;
    /* padding-left: 52px; */
}

.task-input input::placeholder {
    /* color: #bfbfbf; */
}

.control, li {
    /* align-items: center; */
    /* display: flex; */
    /* justify-content: space-between; */
}

.controls {
    border-bottom: 1px solid #ccc;
    display: flex;
    padding: 18px 25px;
}

.filters span {
    color: #444;
    cursor: pointer;
    font-size: 17px;
    margin: 0 8px;
}

.filters span:first-child {
    margin-left: 0;
}

.filters span.active {
    color: #3c87ff;
}

.controls .clear-btn {
    background: linear-gradient(-45deg, #7ac2fa 0%, #2d5cfe 100%);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 0.3px;
    padding: 7px 12px;
    transition: transform 0.4s ease;
}

.filters {
    padding-top: 5px;
}

.clear {
    padding-left: 72px;
}

.clear-btn.active {
    opacity: 0.9;
    pointer-events: auto;
}

.clear-btn:active {
    transform: scale(0.93);
}

.task-box {
    margin: 20px 5px 0 0;
    padding: 0 20px 10px 25px;
}

.task-box.overflow {
    max-height: 300px;
    overflow-y: auto;
}

.task-box::-webkit-scrollbar {
    width: 5px;
}

.task-box::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.task-box::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 25px;
}

.task-box .task {
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
    font-size: 17px;
    list-style: none;
    margin-bottom: 18px;
    padding-bottom: 16px;
}

.task-box .task:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.task-box .task label {
    align-items: flex-start;
    display: flex;
}

.task label input {
    accent-color: #3c87ff;
    margin-top: 7px;
}

.task label p {
    margin-left: 12px;
    user-select: none;
    word-wrap: break-word;
}

.task label p.checked {
    text-decoration: line-through;
}

.task-box .settings {
    position: relative;
}

.settings :where(i, li) {
    cursor: pointer;
}

.settings .task-menu {
    background: #fff;
    border-radius: 4px;
    bottom: -65px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    padding: 5px 0;
    position: absolute;
    right: -5px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;
    z-index: 10;
}

.task-box .task:last-child .task-menu {
    bottom: 0;
    transform-origin: bottom right;
}

.task-box .task:first-child .task-menu {
    bottom: -65px;
    transform-origin: top right;
}

.task-menu.show {
    transform: scale(1);
}

.task-menu li {
    cursor: pointer;
    font-size: 16px;
    height: 25px;
    justify-content: flex-start;
    margin-bottom: 2px;
    padding: 17px 15px;
}

.task-menu li:last-child {
    margin-bottom: 0;
}

.settings li:hover {
    background: #f5f5f5;
}

.settings li i {
    padding-right: 8px;
}

@media (max-width: 400px) {
    body {
        padding: 0 10px;
    }

    .clear {
        padding-left: 0;
    }

    .wrapper {
        padding: 20px 0;
    }

    .filters span {
        margin: 0 5px;
    }

    .task-input {
        padding: 0 20px;
    }

    .controls {
        padding: 18px 20px;
    }

    .task-box {
        margin: 20px 5px 0 0;
        padding: 0 15px 10px 20px;
    }

    .task label input {
        margin-top: 4px;
    }
}